---
import HorizontalCard from "../components/HorizontalCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">
      Natural Language Processing (NLP)
    </div>
  </div>

  <HorizontalCard
    title="Bible Search"
    img="/project_imgs/bible_search.PNG"
    desc="What does the Bible say about ...? This is a semantic search tool to surface relevant verses and chapters in the Bible for a topic of interest using embeddings and Question-Answering models. Yes, this was made before ChatGPT exploded; I worked on it very sparingly on-and-off since 2020. I'm hoping to improve this with ChatGPT's API soon. But if anything, this should run faster and displays whole chapters for better context."
    url="https://huggingface.co/spaces/alronlam/bible-search"
    github_url="https://github.com/alronlam/bible-search"
    badge="NLP"
    tags={["HuggingFace", "Sentence Transformers", "scikit-learn", "Streamlit"]}
    activate_tag_url={false}
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">
      Geospatial Data Science
    </div>
  </div>

  <HorizontalCard
    title="UNICEF AI4D Relative Wealth Mapping for SEA"
    img="/project_imgs/sea_rwi_mapping.PNG"
    desc="Relative wealth estimates for 9 Southeast Asian countries. This is similar to Meta's Realtive Wealth Index estimates, but utilizing only open datasets and low-cost Random Forest models. We made this as a baseline work for SEA with an emphasis on replicability to spur further research in the region and beyond."
    url="https://studio.foursquare.com/public/590c4ab2-b855-463a-90dd-9917b97b8b57"
    github_url="https://github.com/thinkingmachines/unicef-ai4d-poverty-mapping"
    badge="Geo"
    tags={["scikit-learn", "GeoPandas", "GeoWrangler", "Foursquare Studio"]}
    activate_tag_url={false}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="GeoWrangler"
    img="/project_imgs/geowrangler.PNG"
    desc="Python library to cut down dev time for geo-data processing and feature engineering so Data Scientists can focus on analysis or ML modelling. We made this to support common geo-data wrangling steps in our client projects, including our SEA Poverty Mapping work with UNICEF. I acted as Product Manager for this project."
    url="https://geowrangler.thinkingmachin.es/overview.poverty_mapping_demo.html"
    github_url="https://github.com/thinkingmachines/unicef-ai4d-poverty-mapping"
    tags={["nbdev", "quarto", "GeoPandas", "rasterstats"]}
    badge="Geo"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Game Development</div>
  </div>
  <HorizontalCard
    title="Less than Three (<3)"
    img="/project_imgs/less_than_three.png"
    desc="Javascript game made for a 2013 Valentine's Day Hackathon. Your objective is to find the one for you given clues to what they're wearing. Once you find them, you have to answer correctly to pass the 'compatibility' test. Every character is dynamically generated for each new run of the game. Warning: The game is unpolished as this was made in ~24 hours and was our first hackathon ever. No game engine was used; this was pure HTML/CSS/JS!"
    url="https://alronlam.github.io/less-than-three/"
    github_url="https://github.com/alronlam/less-than-three"
    badge="Game Dev"
    tags={["JavaScript"]}
    activate_tag_url={false}
  />
</BaseLayout>
